//particles

.particle {

   @media screen and (max-width: $small-breakpoint) {
      display: none;
   }

   position: absolute;
   bottom: 0;
   width: 100%;

   &__unit {

      position: absolute;
      width: 200px;

      &--left {
         left: 12%;
         bottom: -20px;
      }

      &--right {
         right: 27%;
         bottom: -20px;
      }

   }

}
