//password reset screen

.pw {

   h1.success {
      color: palette(core-green);
   }

   h2 {
      color: palette(steel);
      font-size: 1.3rem;
      font-weight: normal;
      margin-bottom: 0px;

      &.bold {
         font-weight: bold;
         margin-bottom: 20px;
      }
   }

   h3 {
      font-weight: normal;
      color: palette(steel);
      font-size: 1.1rem;
   }

   p.warning {
      color: palette(core-red);
      width: 100%;
      text-align: center;

      &.hide {
         display: none;
      }
   }

   .form {

      input {
         text-align: center;
      }

      input[type="submit"] {
         width: 100%;
      }
   }

}
